{% extends "layout.jinja2" %}

{% block content %}
<div class="content">
  <h1><span class="font-semi-bold">Greetings</span> <span class="smaller">{{user}}#{{discrim}}</span></h1>
  <p class="lead">Your role has been applied.</p>

  <a href="/" class="btn btn-dark btn-lg" role="button"">Go Back.</a>
</div>
{% endblock content %}
