{% extends "layout.jinja2" %}

{% block content %}
<div class="content">
  <h1><span class="font-semi-bold">Greetings</span> <span class="smaller">{{user}}#{{discrim}}</span></h1>
  <p class="lead">Welcome to <span class="font-normal">{{project}}</span>, where you can select your <br><span class="font-normal">roles and other shit</span>.</p>
  
  </br>

  <h2><span class="font-semi-bold">Colors</span></h2>
  <a href="/colors?color=strawberry" class="btn btn-dark btn-lg role_strawberry" role="button"">🍓 Strawberry</a>
  <a href="/colors?color=magma" class="btn btn-dark btn-lg role_magma" role="button"">🌋 Magma</a>
  <a href="/colors?color=saturn" class="btn btn-dark btn-lg role_saturn" role="button"">🪐 Saturn</a>
  <a href="/colors?color=lemon" class="btn btn-dark btn-lg role_lemon" role="button"">🍋 Lemon</a>
  <a href="/colors?color=kiwi" class="btn btn-dark btn-lg role_kiwi" role="button"">🥝 Kiwi</a>
  <a href="/colors?color=green_apple" class="btn btn-dark btn-lg role_green_apple" role="button"">🍏 Green Apple</a>
  </br>
  <a href="/colors?color=sauropod" class="btn btn-dark btn-lg role_sauropod" role="button"">🦕 Sauropod</a>
  <a href="/colors?color=ocean" class="btn btn-dark btn-lg role_ocean" role="button"">🌊 Ocean</a>
  <a href="/colors?color=blueberry" class="btn btn-dark btn-lg role_blueberry" role="button"">🔵 Blueberry</a>
  <a href="/colors?color=yinmn" class="btn btn-dark btn-lg role_yinmn" role="button"">🧪 YInMn</a>
  <a href="/colors?color=magenta" class="btn btn-dark btn-lg role_magenta" role="button"">🦑 Magenta</a>
  <a href="/colors?color=pink" class="btn btn-dark btn-lg role_pink" role="button"">🧁 Pink</a>

  </br>
  </br>
  <h2><span class="font-semi-bold">NSFW Channels</span></h2>
  <button class="btn btn-dark btn-lg" id="verify-button">Verify</button>
  <script type="text/javascript">
      // Set your publishable key: remember to change this to your live publishable key in production
      // See your keys here: https://dashboard.stripe.com/apikeys
      var stripe = Stripe('{{stripe_api}}');

      var verifyButton = document.getElementById('verify-button');

      verifyButton.addEventListener('click', function() {
        // Get the VerificationSession client secret using the server-side
        // endpoint you created in step 3.
        fetch('/stripe-sess', {
          method: 'POST',
        })
        .then(function(response) {
          return response.json();
        })
        .then(function(session) {
          // Show the verification modal.
          return stripe.verifyIdentity(session.client_secret);
        })
        .then(function(result) {
          // If `verifyIdentity` fails, you should display the localized
          // error message to your user using `error.message`.
          if (result.error) {
            alert(result.error.message);
          }
        })
        .catch(function(error) {
          console.error('Error:', error);
        });
      });
  </script>
    
</div>
{% endblock content %}
